<module>
	<rawname>ringgroups</rawname>
	<name>Ring Groups</name>
	<version>2.1.4</version>
	<type>setup</type>
	<category>Basic</category>
	<menuitems>
		<ringgroups>Ring Groups</ringgroups>
	</menuitems>
	<location>release/ringgroups-2.1.4.tgz</location>
	<info>http://aussievoip.com.au/wiki/freePBX-RingGroups</info>
	<md5sum>5475be3a65693867ebea0fec37c3646d</md5sum>
</module>
